.ui-li-thumb {
	width: 80px;
	height: 80px;
}
header img {
	max-width: 150px;
}
header.ui-header .ui-btn-left {
	top: 1.6em;
}
footer p {
	text-align: center;
}
/* various colors to match each of the different ign properties */
.ui-header, .ui-footer, .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(4, 78.4314%, 20.0000%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(4, 78.4314%, 20.0000%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(9, 95.6284%, 35.8824%, 1.0000)),color-stop(1, hsla(4, 78.4314%, 20.0000%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(4, 78.4314%, 20.0000%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(4, 78.4314%, 20.0000%, 1.0000));
}
#ds header, #ds footer, #ds .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(188, 93.0348%, 39.4118%, 1.0000), hsla(191, 98.4848%, 25.8824%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(188, 93.0348%, 39.4118%, 1.0000), hsla(191, 98.4848%, 25.8824%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(188, 93.0348%, 39.4118%, 1.0000)),color-stop(1, hsla(191, 98.4848%, 25.8824%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(188, 93.0348%, 39.4118%, 1.0000), hsla(191, 98.4848%, 25.8824%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(188, 93.0348%, 39.4118%, 1.0000), hsla(191, 98.4848%, 25.8824%, 1.0000));
}
#wireless header, #wireless footer, #wireless .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(7, 100.0000%, 21.7647%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(7, 100.0000%, 21.7647%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(9, 95.6284%, 35.8824%, 1.0000)),color-stop(1, hsla(7, 100.0000%, 21.7647%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(7, 100.0000%, 21.7647%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(7, 100.0000%, 21.7647%, 1.0000));
}
#movies header, #movies footer, #movies .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(5, 82.8571%, 20.5882%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(5, 82.8571%, 20.5882%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(9, 95.6284%, 35.8824%, 1.0000)),color-stop(1, hsla(5, 82.8571%, 20.5882%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(5, 82.8571%, 20.5882%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(9, 95.6284%, 35.8824%, 1.0000), hsla(5, 82.8571%, 20.5882%, 1.0000));
}
#pc header, #pc footer, #pc .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(120, 95.9732%, 29.2157%, 1.0000), hsla(120, 100.0000%, 14.7059%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(120, 95.9732%, 29.2157%, 1.0000), hsla(120, 100.0000%, 14.7059%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(120, 95.9732%, 29.2157%, 1.0000)),color-stop(1, hsla(120, 100.0000%, 14.7059%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(120, 95.9732%, 29.2157%, 1.0000), hsla(120, 100.0000%, 14.7059%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(120, 95.9732%, 29.2157%, 1.0000), hsla(120, 100.0000%, 14.7059%, 1.0000));
	
}
#ps3 header, #ps3 footer, #ps3 .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(360, 100.0000%, 24.9020%, 1.0000), hsla(4, 96.4912%, 11.1765%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(360, 100.0000%, 24.9020%, 1.0000), hsla(4, 96.4912%, 11.1765%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(360, 100.0000%, 24.9020%, 1.0000)),color-stop(1, hsla(4, 96.4912%, 11.1765%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(360, 100.0000%, 24.9020%, 1.0000), hsla(4, 96.4912%, 11.1765%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(360, 100.0000%, 24.9020%, 1.0000), hsla(4, 96.4912%, 11.1765%, 1.0000));
}
#psp header, #psp footer, #psp .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(228, 12.1951%, 51.7647%, 1.0000), hsla(228, 16.5563%, 29.6078%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(228, 12.1951%, 51.7647%, 1.0000), hsla(228, 16.5563%, 29.6078%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(228, 12.1951%, 51.7647%, 1.0000)),color-stop(1, hsla(228, 16.5563%, 29.6078%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(228, 12.1951%, 51.7647%, 1.0000), hsla(228, 16.5563%, 29.6078%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(228, 12.1951%, 51.7647%, 1.0000), hsla(228, 16.5563%, 29.6078%, 1.0000));
}
#tv header, #tv footer, #tv .ui-btn {
}
#wii header, #wii footer, #wii .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(201, 99.0050%, 60.5882%, 1.0000), hsla(216, 96.9849%, 39.0196%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(201, 99.0050%, 60.5882%, 1.0000), hsla(216, 96.9849%, 39.0196%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(201, 99.0050%, 60.5882%, 1.0000)),color-stop(1, hsla(216, 96.9849%, 39.0196%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(201, 99.0050%, 60.5882%, 1.0000), hsla(216, 96.9849%, 39.0196%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(201, 99.0050%, 60.5882%, 1.0000), hsla(216, 96.9849%, 39.0196%, 1.0000));
}
#xbox360 header, #xbox360 footer, #xbox360 .ui-btn {
	background-image: -moz-linear-gradient(top, hsla(79, 66.0000%, 39.2157%, 1.0000), hsla(83, 78.0220%, 17.8431%, 1.0000)); /* FF3.6 */
	background-image: -o-linear-gradient(top, hsla(79, 66.0000%, 39.2157%, 1.0000), hsla(83, 78.0220%, 17.8431%, 1.0000)); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, hsla(79, 66.0000%, 39.2157%, 1.0000)),color-stop(1, hsla(83, 78.0220%, 17.8431%, 1.0000))); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(hsla(79, 66.0000%, 39.2157%, 1.0000), hsla(83, 78.0220%, 17.8431%, 1.0000)); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, hsla(79, 66.0000%, 39.2157%, 1.0000), hsla(83, 78.0220%, 17.8431%, 1.0000));
}